.main{


}
.h1{
    display: flex;
    height: 100%;
   justify-content: center;
    width: 100%;

}
.a1{
    margin-top: 10%;
    display: flex;
    
}
.m1{
    display: flex;
    justify-content: flex-start;
    margin-right: 50%;
    
}
.m2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.k1{
    display: flex;
    justify-content: center;
}
