.main{


}
.h1{
    display: flex;
    height: 100%;
   gap: 30%;
    width: 100%;

}
.a1{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    
}
.m1{

    display: flex;
    justify-content: flex-start;
  

}
.m2{
    display: flex;
    justify-content: center;
    
    
}
.k1{
    display: flex;
    justify-content: center;
}
body{
    background-color: rgb(238, 247, 238);
     flex-wrap: nowrap; 
}

